Makefile
config.h
config.status
config.log
stamp-h1
*.o
*~
publish
benchmark.rb
benchmarks/*
ruby-examples/*
tmp/*
examples/farex/*
*.log
docs/*
.compiled
*.rbc
autom4te.cache
*.fyc
*.so
boot/parser/fancy_parser_ext.so
boot/parser/parser.output
publish.fy
doc/api/fancy.jsonp
*flymake*
boot/parser/conftest.dSYM/
boot/parser/fancy_parser_ext.bundle
.boot/*

