Makefile
config.h
config.status
config.log
stamp-h1
*.o
*~
publish
benchmark.rb
benchmarks/*
ruby-examples/*
tmp/*
examples/farex/*
*.log
docs/*
.compiled
*.rbc
autom4te.cache
*.fyc
*.so
publish.fy
doc/api/fancy.jsonp
*flymake*
conftest.dSYM/
*.bundle
boot/compiler/

